{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended", "google"
  ],
  "rules": {
    "max-len": ["error", {
      "code": 150
    }],
    "semi": "off",
    "require-jsdoc": "off",
    "operator-linebreak": ["error", "after", {
      "overrides": {
        "?": "before",
        ":": "before"
      }
    }],
    "object-curly-spacing": ["error", "always", {
      "objectsInObjects": false
    }]
  }
}