@import "variables";
@import "mixins";

.excel-formula {
  display: flex;
  align-items: center;
  height: $formula-height;
  border-bottom: 1px solid $border-color;

  &__label {
    display: flex;
    align-items: center;
    min-width: $info-cell-width;
    height: $formula-height;
    font-family: "Times New Roman", serif;
    font-style: italic;
    font-size: $font-lg;
    line-height: 1;
    color: $gray-60;
    padding: 0 7px 0 16px;
    border-right: 1px solid $border-color;
  }

  &__input {
    flex: 1 1 auto;
    height: $formula-height - 2;
    padding: 8px;
    font-size: $font-sm;
    line-height: 38px;
    color: $black;
    border: 0;
    outline: none;
  }
}