@import "variables";
@import "mixins";

.excel-toolbar {
  display: flex;
  height: $toolbar-height;
  padding: 7px 10px;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  &__button-item {
    @include button();
  }
}